*{
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: lightgray;
    font-family: sans-serif;
  }
  
  .main-container {
    width: 90%;
    background-color: white;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  .menu-container, .pesanan-container {
    width: 400px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  td:first-child, td:last-child {
    text-align: center;
  }
  
  td:nth-child(3){
    text-align: right;
  }
  
  th,td {
    border: 1px solid black;
    padding: 10px;
  }

  /* Hide total row initially */
  .total-row {
    display: none;
}
